body {
       color: #2c3e50;
}
nav ul {
    list-style: none;
    display: inline-block;
}
header {
    background-color: lightcoral;
    text-align: center;
    width: 100%;
}
.AboutMe {
    background-color: lightsalmon;
}